* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik';
    margin: 0;
    padding: 0;
}


h1 {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px 5px;
    border-bottom: 1px solid black;
}

nav img {
    width: 100px;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 10px;
}

nav ul li a {
    font-size: 20px;
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(163, 113, 20, 0);
}

nav ul li a:hover {
    color: cadetblue;
    border-bottom: 1px solid cadetblue;
}

.banner {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.banner img {
    width: 1300px;
    height: 700px;
}

.container-car {
    display: flex;
    width: max-content;
    gap: 1px;
}

.item {
    position: relative;
    width: 200px;
    overflow: hidden;
}
.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item figcaption {
    position: absolute;
    bottom: -3rem;
    background-color: rgba(0, 0, 0, 0.293);
    padding: 2px;
    text-align: center;
    color: white;
    transition: all 200ms;
}

.item:hover figcaption {
    bottom: 0px;
}